<div class="modal-footer py-3">
    <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">
        <span class="indicator-label">
            <i class="bi bi-check-circle"></i>
            Save
        </span>
        <span class="indicator-progress">
            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    </button>
</div>